.search{
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 10px 15px 50px rgb(29, 27, 27);
    background-color: rgb(29, 27, 27);
    width: 100%;
    color: brown;
    size: 20px;
}
